<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/homepic.png');">
  <div class="filter"></div>
  <div class="container">
    <div class="motto text-center">
      <h3>Chemises sur mesure</h3>
      <h1>Découvrez la vraie personnalisation.</h1>
      <br>

      <br />
      <button type="button" class="btn btn-outline-neutral btn-round">Creé votre chemise</button>
    </div>
  </div>
</div>
<div class="main">
  <div class="section text-center">
    <div class="container">

      <div class="row">
        <div class="col-md-2">
          <div class="info">
            <div class="icon icon-danger">
              <img class="processimg"  src="assets/img/conf.png"> </div>
            <div class="description">
              <h4 class="info-title">Configurer votre chemise</h4>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="info">
            <div class="icon icon-danger">
              <img  class="processimg" src="assets/img/size.png">
            </div>
            <div class="description">
              <h4 class="info-title">Une mesure facile</h4>
            </div>
          </div>
        </div>
        <div  class="col-md-2">
          <div class="info">
            <div class="icon icon-danger">
              <img class="processimg" src="assets/img/guarantee.png">
            </div>
            <div class="description">
              <h4 class="info-title">Garantie de conformité</h4>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="info">
            <div class="icon icon-danger">
              <img class="processimg" src="assets/img/free-delivery.png">
            </div>
            <div class="description">
              <h4 class="info-title">Livraison gratuite</h4>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="info">
            <div class="icon icon-danger">
              <img class="processimg" src="assets/img/fast-delivery.png">
            </div>
            <div class="description">
              <h4 class="info-title">Livraison rapide</h4>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="info">
            <div class="icon icon-danger">
              <img class="processimg" src="assets/img/confiance.png">
            </div>
            <div class="description">
              <h4 class="info-title">Production éthique</h4>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="section section-dark text-center">
    <div class="container">
      <h2 class="title">Nos meilleurs produits</h2>
      <div class="row">
          <div class="col-md-3">
            <div class="info">
              <div class="icon icon-danger">
                <img class="catalogueimg" src="assets/img/examples/catalogue3.jpg"> </div>
              <div class="description">
                <h4 class="info-title">Configurer votre chemise</h4>
              </div>
            </div>
          </div>
          <div class="col-md-3">
              <div class="info">
                <div class="icon icon-danger">
                  <img class="catalogueimg" src="assets/img/examples/catalogue1.jpg"> </div>
                <div class="description">
                  <h4 class="info-title">Configurer votre chemise</h4>
                </div>
              </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                  <div class="icon icon-danger">
                    <img class="catalogueimg" src="assets/img/examples/catalogue2.jpg"> </div>
                  <div class="description">
                    <h4 class="info-title">Configurer votre chemise</h4>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                  <div class="info">
                    <div class="icon icon-danger">
                      <img class="catalogueimg" src="assets/img/examples/catalogue4.jpg"> </div>
                    <div class="description">
                      <h4 class="info-title">Configurer votre chemise</h4>
                    </div>
                  </div>
                </div>
         
        </div>
  
    </div>
  </div>

  <div class="section">
    <div class="container-fluid p-0">
      <div class="row">
        <div class="col-md-6 p-0">
          <div class="icon icon-danger">
            <img class="catalogueimg" src="assets/img/examples/TS-Make-it-fit-minor-3.jpg"> 
          </div>
        </div>
        <div class="col-md-6 text-center ">
            <div class="info">
              <h2 class="title">Adaptez-vous</h2>
              <p>Vous êtes unique, alors pourquoi vos chemises ne le seraient-elles pas? Une chemise sur mesure de Tailor Store n’est pas simplement une chemise, c’est une expérience sur mesure rien que pour vous. Oubliez tout ce que vous pensiez savoir sur les tailles et les coupes. Nous faisons du vrai sur mesure. Vos mesures personnelles sont toujours au centre pour créer votre propre coupe idéale.</p>
            </div>
          </div>
      </div>
      
      <div class="row">
        
        <div class="col-md-6 text-center ">
          <div class="info">
            <h2 class="title">Personnalisez !</h2>
            <p>Vous le voulez, nous l’avons. Découvrez le véritable potentiel de la confection de chemises sur mesure avec des options de conception presque illimitées. Tous nos tissus, accessoires et designs sont soigneusement sélectionnés pour vous offrir des chemises de qualité supérieure au meilleur prix possible. Le résultat est une chemise spécialement conçue pour vous, avec les détails que vous avez choisis personnellement.</p>
          </div>
        </div>
        <div class="col-md-6 p-0">
          <div class="icon icon-danger">
            <img class="catalogueimg" src="assets/img/examples/30082019-DSC_6855.jpg"> 
          </div>
        </div>
        
        </div>

        <div class="row">
          
            <div class="col-md-6 p-0">
              <div class="">
                <img class="catalogueimg" src="assets/img/examples/TS-Make-it-fit-minor-3.jpg"> 
              </div>
            </div>
            <div class="col-md-6 text-center ">
              <div class="info">
                <h2 class="title">Faites-le bien !</h2>
                <p>Aucune affaire louche. Juste de très bonnes chemises sur mesure. Nos tailleurs sont fiers de chaque étape du métier: couper et coudre des chemises sur mesure avec la plus grande précision et avec le plus grand soin. Soyez aussi heureux que vous le pensez, sachant que votre vêtement est confectionné dans une optique de durabilité par des travailleurs bien rémunérés.</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 text-center ">
                <div class="info">
                  <h2 class="title">Décidez du prix.</h2>
                  <p>Que vaut une chemise de grande qualité pour vous ? Choisissez entre différentes gammes de prix pour une expérience inoubliable. De l’essentiel aux tissus haut de gamme, nous vous couvrons de tout ce que vous recherchez.</p>
                </div>
              </div>
              <div class="col-md-6 p-0">
                <div class="icon icon-danger">
                  <img class="catalogueimg" src="assets/img/examples/TS-new-features-header.jpg"> 
                </div>
              </div>
            </div>
  
    </div>
  </div>

  <div class="section landing-section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="text-center">Keep in touch?</h2>
          <form class="contact-form">
            <div class="row">
              <div class="col-md-6">
                <label>Name</label>
                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Name" (focus)="focus=true" (blur)="focus=false">
                </div>
              </div>
              <div class="col-md-6">
                <label>Email</label>
                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true}">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="nc-icon nc-email-85"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Email" (focus)="focus1=true"
                    (blur)="focus1=false">
                </div>
              </div>
            </div>
            <label>Message</label>
            <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
            <div class="row">
              <div class="col-md-4 mr-auto ml-auto">
                <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>